define service{
  service_description    HTTP UNIQUE_NAME
  use            clouder-linux-service
  register       0
  host_name      clouder-bases
  check_command  clouder_check_http!BASE.DOMAIN
}

define service{
  service_description    Backup UNIQUE_NAME
  use            clouder-linux-service
  register       0
  host_name      clouder-bases
  check_interval 60
  retry_interval 15
  check_period clouder_period_backup
  check_command  clouder_check_backup!METHOD!TYPE!CONTAINER!UNIQUE_NAME!DATABASES
}

