define service{
  service_description    HTTP UNIQUE_NAME
  use            yolo-linux-service
  register       0
  host_name      yolo-bases
  check_command  yolo_check_http!BASE.DOMAIN
}

define service{
  service_description    Backup UNIQUE_NAME
  use            yolo-linux-service
  register       0
  host_name      yolo-bases
  check_interval 60
  retry_interval 15
  check_period yolo_period_backup
  check_command  yolo_check_backup!METHOD!TYPE!CONTAINER!UNIQUE_NAME!DATABASES
}

