define host{
        use                     clouder-linux-server
        host_name               NAME
        address                 IP
        }

define service{
   service_description    Load
   use            clouder-linux-service
   register       0
   host_name      clouder-linux-server
   check_command  clouder_check_nrpe!PORT!check_load
}

define service{
   service_description    Memory
   use            clouder-linux-service
   register       0
   host_name      clouder-linux-server
   check_command  clouder_check_nrpe!PORT!check_mem
}

define service{
   service_description    Disk
   use            clouder-linux-service
   register       0
   host_name      clouder-linux-server
   check_command  clouder_check_nrpe!PORT!check_disk
}

define service{
   service_description    SSH
   use            clouder-linux-service
   register       0
   host_name      clouder-linux-server
   check_command  clouder_check_ssh
}