<VirtualHost *:80>
  ServerName BASE.DOMAIN
  ProxyRequests Off
  <Proxy *>
    Order deny,allow
    Allow from all
  </Proxy>
  ProxyVia On
  ProxyPass / http://SERVER:PORT/
  <location / >
    ProxyPassReverse / http://SERVER:PORT/
  </location>
  RequestHeader set "X-Forwarded-Proto" "http"
  SetEnv proxy-nokeepalive 1
</VirtualHost>
<VirtualHost *:443>
  ServerName BASE.DOMAIN

  SSLEngine on
  SSLCertificateFile /etc/ssl/certs/BASE.DOMAIN.crt
  SSLCertificateKeyFile /etc/ssl/private/BASE.DOMAIN.key
  ProxyRequests Off
  <Proxy *>
    Order deny,allow
    Allow from all
  </Proxy>
  ProxyVia On
  ProxyPass / http://SERVER:PORT/
  <location / >
    ProxyPassReverse / http://SERVER:PORT/
  </location>
  RequestHeader set "X-Forwarded-Proto" "http"
  SetEnv proxy-nokeepalive 1
</VirtualHost>