define service{
  service_description    HTTP UNIQUE_NAME
  use            wikicompare-linux-service
  register       0
  host_name      wikicompare-linux-server
  check_command  wikicompare_check_http!SAAS.DOMAIN
}

define service{
  service_description    Backup UNIQUE_NAME
  use            wikicompare-linux-service
  register       0
  host_name      wikicompare-linux-server
  check_interval 60
  retry_interval 15
  check_period period_backup
  check_command  wikicompare_check_backup!APPLICATION!SERVER!INSTANCE!DOMAIN!SAAS
}

