    {
      "kind": "Service",
      "apiVersion": "v1",
      "metadata": {
        "name": "CONTAINER_NAME",
        "creationTimestamp": null
      },
      "spec": {
        "ports": PORTS,
        "selector": {
          "name": "CONTAINER_NAME"
        },
        "portalIP": "",
        "type": "ClusterIP",
        "sessionAffinity": "None"
      }
    }
    {
      "kind": "Route",
      "apiVersion": "v1",
      "metadata": {
        "name": "CONTAINER_NAME",
        "creationTimestamp": null
      },
      "spec": {
        "to": {
          "kind": "Service",
          "name": "CONTAINER_NAME"
        }
      }
    }
    {
      "kind": "DeploymentConfig",
      "apiVersion": "v1",
      "metadata": {
        "name": "CONTAINER_NAME",
        "creationTimestamp": null
      },
      "spec": {
        "strategy": {
          "type": "Recreate",
          "resources": {}
        },
        "triggers": [
          {
            "type": "ConfigChange"
          }
        ],
        "replicas": 1,
        "selector": {
          "name": "CONTAINER_NAME"
        },
        "template": {
          "metadata": {
            "creationTimestamp": null,
            "labels": {
              "name": "CONTAINER_NAME"
            }
          },
          "spec": {
            "services": [
              {
                "name": "CONTAINER_NAME",
                "image": "IMAGE_NAME",
                "env": [],
                "resources": {},
                "volumeMounts": VOLUME_MOUNTS,
                "terminationMessagePath": "/dev/termination-log",
                "imagePullPolicy": "IfNotPresent",
                "capabilities": {},
                "securityContext": {
                  "capabilities": {},
                  "privileged": false
                }
              }
            ],
            "volumes": VOLUMES,
            "restartPolicy": "Always",
            "dnsPolicy": "ClusterFirst"
          }
        }
      }
    }