$TTL 3h
@       IN      SOA     ns.DOMAIN. hostmaster.DOMAIN. (
                                1234 ;serial
                                8H
                                2H
                                1W
                                1D )
@       IN      NS      ns.DOMAIN.
ns      IN      A       IP
