$TTL 3h
@       IN      SOA     ns.DOMAIN. hostmaster.DOMAIN. (
                                20130793001
                                8H
                                2H
                                1W
                                1D )
@       IN      NS      ns.DOMAIN.
        IN      MX      1   mx1.ovh.net.
        IN      MX      5  mx2.ovh.net.
        IN      MX      100 mxb.ovh.net.
ns              IN      A       IP
