server {
    listen      80;
    listen [::]:80;
    server_name BASE.DOMAIN;

    return       301 https://DOMAIN$request_uri;
}


server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name BASE.DOMAIN;

    # SSL
    ssl_certificate     /etc/ssl/certs/DOMAIN.crt;
    ssl_certificate_key /etc/ssl/private/DOMAIN.key;
    ssl_dhparam         /etc/ssl/dh_param/DOMAIN.pem;
    include             /etc/nginx/conf.d/nginx-ssl;

    return       301 https://DOMAIN$request_uri;
}
