
server {
    listen      80;
    server_name BASE.DOMAIN;

    # Strict Transport Security
    add_header Strict-Transport-Security max-age=2592000;
    return       301 https://DOMAIN$request_uri;
}


server {
    listen      443;
    server_name BASE.DOMAIN;


    # ssl files
    ssl on;
    ssl_certificate     /etc/ssl/certs/DOMAIN.crt;
    ssl_certificate_key /etc/ssl/private/DOMAIN.key;

    ssl_protocols SSLv3 TLSv1;
    ssl_ciphers ALL:!aNULL:!ADH:!eNULL:!LOW:!EXP:RC4+RSA:+HIGH:+MEDIUM;

    # Strict Transport Security
    add_header Strict-Transport-Security max-age=2592000;
    return       301 https://DOMAIN$request_uri;
}
