server {
    listen      80 default_server;
    listen [::]:80 default_server;
    server_name DOMAIN;

    keepalive_timeout   60;

    ## default location ##
    location / {
        proxy_pass  http://SERVER:PORT;
        include /etc/nginx/conf.d/nginx-proxy;
    }

}


server {
    listen 443 ssl http2 default_server;
    listen [::]:443 ssl http2 default_server;
    server_name DOMAIN;

    keepalive_timeout   60;

    # SSL
    ssl_certificate     /etc/ssl/certs/DOMAIN.crt;
    ssl_certificate_key /etc/ssl/private/DOMAIN.key;
    # ssl_dhparam         /etc/ssl/dh_param/DOMAIN.pem;
    include             /etc/nginx/conf.d/nginx-ssl;

    ## default location ##
    location / {
        proxy_pass  http://SERVER:PORT;
        include /etc/nginx/conf.d/nginx-proxy;
    }

}
