define command {
    command_name    yolo-notify-host-by-email
    command_line    /usr/bin/printf "%b" "From: shinken@yolo-consulting.net\nSubject: Host $HOSTSTATE$ alert for $HOSTNAME$\n\nShinken Notification\n\nType:$NOTIFICATIONTYPE$\nHost: $HOSTNAME$\nState: $HOSTSTATE$\nAddress: $HOSTADDRESS$\nInfo: $HOSTOUTPUT$\nDate/Time: $DATE$ $TIME$\n" | /usr/sbin/ssmtp $CONTACTEMAIL$
}

define command {
    command_name    yolo-notify-service-by-email
    command_line    /usr/bin/printf "%b" "From: shinken@yolo-consulting.net\nSubject: ** $NOTIFICATIONTYPE$ alert - $HOSTNAME$/$SERVICEDESC$ is $SERVICESTATE$ **\n\nShinken Notification\n\nNotification Type: $NOTIFICATIONTYPE$\n\nService: $SERVICEDESC$\nHost: $HOSTNAME$\nAddress: $HOSTADDRESS$\nState: $SERVICESTATE$\n\nDate/Time: $DATE$ $TIME$\nAdditional Info : $SERVICEOUTPUT$\n" | /usr/sbin/ssmtp $CONTACTEMAIL$
}


define notificationway{
       notificationway_name            yolo-email
       service_notification_period     24x7
       host_notification_period        24x7
       service_notification_options    c,w,r
       host_notification_options       d,u,r,f,s
       service_notification_commands   yolo-notify-service-by-email ; send service notifications via email
       host_notification_commands      yolo-notify-host-by-email    ; send host notifications via email
}


define contactgroup{
    contactgroup_name   yolo-admins
    alias               yolo-admins
    members             yannick
}

define contact{
    use             generic-contact
    contact_name    yannick
    email           yannick.buron@gmail.com
    pager           0670745226
    password        #g00gle!
    is_admin        1
    notificationways    yolo-email
}


define host{
   name                         yolo-linux-server
   use                          generic-host
   check_command                check_host_alive
   register                     0
   contact_groups               yolo-admins

}

define host{
   name                         yolo-containers
   use                          generic-host
   register                     0
   contact_groups               yolo-admins
}

define host{
   use yolo-containers
   host_name                    Containers
   address                      localhost
}

define host{
   name                         yolo-bases
   use                          generic-host
   register                     0
   contact_groups               yolo-admins
}

define host{
   use yolo-bases
   host_name                    Bases
   address                      localhost
}


define timeperiod{
        timeperiod_name                 period_backup
        alias                           Backup
        sunday                          08:00-23:00
        monday                          08:00-23:00
        tuesday                         08:00-23:00
        wednesday                       08:00-23:00
        thursday                        08:00-23:00
        friday                          08:00-23:00
        saturday                        08:00-23:00
}


define command {
   command_name   yolo_check_nrpe
   command_line   /usr/lib/nagios/plugins/check_nrpe -H $HOSTADDRESS$ -c $ARG1$
}

define command {
   command_name   yolo_check_ssh
   command_line   $USER1$/check_ssh -H $HOSTADDRESS$
}

define command {
   command_name   yolo_check_http
   command_line   $USER1$/check_http -H $ARG1$
}

define command {
   command_name   yolo_check_backup
   command_line   /opt/control_backup.sh $ARG1$ $ARG2$
}


define service{
  name                          yolo-linux-service
  use                           generic-service
  register                      0
  aggregation                   system
}

define service{
   service_description    Load
   use            yolo-linux-service
   register       0
   host_name      yolo-linux-server
   check_command  yolo_check_nrpe!check_load
}

define service{
   service_description    Memory
   use            yolo-linux-service
   register       0
   host_name      yolo-linux-server
   check_command  yolo_check_nrpe!check_mem
}

define service{
   service_description    Disk
   use            yolo-linux-service
   register       0
   host_name      yolo-linux-server
   check_command  yolo_check_nrpe!check_disk
}

define service{
   service_description    SSH
   use            yolo-linux-service
   register       0
   host_name      yolo-linux-server
   check_command  yolo_check_ssh
}