<VirtualHost *:80>
  ServerName BASE.DOMAIN
  ProxyRequests Off
  <Proxy *>
    Order deny,allow
    Allow from all
  </Proxy>
  ProxyVia On
  ProxyPass / http://SERVER:PORT/
  <location / >
    ProxyPassReverse /
  </location>
  RequestHeader set "X-Forwarded-Proto" "http"
  SetEnv proxy-nokeepalive 1
</VirtualHost>